<a href="https://colab.research.google.com/github/sighin/lachine_mearning/blob/main/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset = pd.read_csv("/content/penguins.csv")
print(dataset)

     rowid    species     island  bill_length_mm  bill_depth_mm  \
0        1     Adelie  Torgersen            39.1           18.7
1        2     Adelie  Torgersen            39.5           17.4
2        3     Adelie  Torgersen            40.3           18.0
3        5     Adelie  Torgersen            36.7           19.3
4        6     Adelie  Torgersen            39.3           20.6
..     ...        ...        ...             ...            ...
333    340  Chinstrap      Dream            55.8           19.8
334    341  Chinstrap      Dream            43.5           18.1
335    342  Chinstrap      Dream            49.6           18.2
336    343  Chinstrap      Dream            50.8           19.0
337    344  Chinstrap      Dream            50.2           18.7

     flipper_length_mm  body_mass_g  Gender  year
0                  181         3750    male  2007
1                  186         3800  female  2007
2                  195         3250  female  2007
3                  193         3450  female  2007
4                  190         3650    male  2007
..                 ...          ...     ...   ...
333                207         4000    male  2009
334                202         3400  female  2009
335                193         3775    male  2009
336                210         4100    male  2009
337                198         3775  female  2009

[338 rows x 9 columns]

In [ ]:
dataset.head()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,Gender,year
0,1,Adelie,Torgersen,39.1,18.7,181,3750,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186,3800,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195,3250,female,2007
3,5,Adelie,Torgersen,36.7,19.3,193,3450,female,2007
4,6,Adelie,Torgersen,39.3,20.6,190,3650,male,2007

In [ ]:
dataset.shape

(338, 9)

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              338 non-null    int64
 1   species            338 non-null    object
 2   island             338 non-null    object
 3   bill_length_mm     338 non-null    float64
 4   bill_depth_mm      338 non-null    float64
 5   flipper_length_mm  338 non-null    int64
 6   body_mass_g        338 non-null    int64
 7   Gender             329 non-null    object
 8   year               338 non-null    int64
dtypes: float64(2), int64(4), object(3)
memory usage: 23.9+ KB

In [ ]:
dataset['species'].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder

dataset["island"] = LabelEncoder().fit_transform(dataset["island"])

In [ ]:
dataset['island'].unique()

array([2, 0, 1])

In [ ]:
dataset.columns

Index(['rowid', 'species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'Gender', 'year'],
      dtype='object')

In [ ]:
X = dataset[['island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'year']]
Y = dataset["species"]

# New Section

In [ ]:
X.head()

   island  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g  year
0       2            39.1           18.7                181         3750  2007
1       2            39.5           17.4                186         3800  2007
2       2            40.3           18.0                195         3250  2007
3       2            36.7           19.3                193         3450  2007
4       2            39.3           20.6                190         3650  2007

In [ ]:
Y.head()

0    Adelie
1    Adelie
2    Adelie
3    Adelie
4    Adelie
Name: species, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

f = RandomForestClassifier(random_state = 0)
f.fit(X_train, Y_train)

RandomForestClassifier(random_state=0)

In [ ]:
y_pred = f.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, y_pred))

1.0